@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
@-ms-viewport {
  width: device-width ;
} 

@media screen and (min-width:769px) {
    :root {
        --max-site-width: 85rem;
        --min-site-width: 30rem;
        --main-padding: 1rem;
        --max-header-width: 50rem;
        --min-header-width: 25rem;
        --header-padding: 1rem;
        --max-item-width: 25rem;
        --min-item-width: 25rem;
        --item-padding: 1rem;
        --item-margin: 0.5rem;

    }
}
@media screen and (max-width:768px) {
    :root {
        --max-site-width: 100%;
        --min-site-width: 100%;
        --main-padding: 0rem;
        --max-header-width: 100%;
        --min-header-width: 100%;
        --header-padding: 0rem;
        --max-item-width: 100%;
        --min-item-width: 100%;
        --item-padding: 0rem;
        --item-margin: 0rem 0rem 1rem 0rem;

    }
}

html {
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

body {
    background-color: rgb(50,50,50);
    color: rgb(240,240,240);
    font-family: 'Verdana', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

p {
    margin: 1rem;
}

h3 {
    text-align: center;
}

a {
    color: rgb(230,120,120);
    text-decoration: none;
}
a:hover {
    color: rgb(240,200,200);
}

.main-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: rgb(55,55,55);
    max-width: var(--max-site-width);
    min-width: var(--min-site-width);
    padding: var(--header-padding);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(55,55,55);
    max-width: var(--max-site-width);
    min-width: var(--min-site-width);
    padding: var(--header-padding);
    margin-top: var(--top-margin);
    
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(60,60,60);
    max-width: var(--max-site-width);
    min-width: var(--min-site-width);
    padding: var(--main-padding);
    justify-content: center;
}

.content-item {
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: rgb(65,65,65);
    max-width: var(--max-item-width);
    min-width: var(--min-item-width);
}

.content-gif {
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: rgb(65,65,65);
    max-width: var(--max-item-width);
    min-width: var(--min-item-width);
    min-height: 360px;
}

#gif1.content-gif {
    background-image: url('assets/starship-capsule.gif');
}
#gif2.content-gif {
    background-image: url('assets/super-wiggle.gif');
}

.header-item {
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: rgb(60,60,60);
    max-width: var(--max-header-width);
    min-width: var(--min-header-width);
}