@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

@media screen and (min-width:769px) {
    :root {
        --max-site-width: 85rem;
        --min-site-width: 30rem;
        --main-padding: 0rem;
        --max-header-width: 53rem;
        --min-header-width: 25rem;
        --header-padding: 1rem;
        --max-item-width: 25rem;
        --min-item-width: 25rem;
        --item-padding: 1rem;
        --item-margin: 0.5rem;

    }
}
@media screen and (max-width:768px) {
    :root {
        --max-site-width: 100%;
        --min-site-width: 100%;
        --main-padding: 0rem;
        --max-header-width: 100%;
        --min-header-width: 100%;
        --header-padding: 0rem;
        --max-item-width: 100%;
        --min-item-width: 100%;
        --item-padding: 0rem;
        --item-margin: 0rem 0rem 1rem 0rem;

    }
}

:root {
    --youtube-color: rgb(210,100,100);
    --patreon-color: rgb(220,160,100);
    --paypal-color: rgb(120,180,210);
    --nda-color: rgb(180,210,120);
    --youtube-bcolor: rgb(210,100,100,0.5);
    --patreon-bcolor: rgb(220,160,100,0.5);
    --paypal-bcolor: rgb(120,180,210,0.5);
    --nda-bcolor: rgb(180,210,120,0.5);
    --border-color: rgb(240,240,240,0.5);
}

html {
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

body {
    background-color: rgb(20,20,20);
    color: rgb(240,240,240);
    font-family: 'Verdana', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

p {
    margin: 1rem;
}

h3 {
    text-align: center;
}
h3#nda {
    color: var(--nda-color);
}
h3#you {
    color: var(--youtube-color);
}
h3#pat {
    color: var(--patreon-color);
}
h3#pay {
    color: var(--paypal-color);
}
h3#dgrey {
    color: rgb(50,50,50);
}


a {
    color: rgb(230,120,120);
    text-decoration: none;
}
a:hover {
    color: rgb(240,200,200);
}

.main-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: rgb(30,30,30);
    max-width: var(--max-site-width);
    min-width: var(--min-site-width);
    padding: var(--header-padding);
}

.header-item {
    border-bottom: 5px solid var(--border-color);
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: rgb(60,60,60);
    max-width: var(--max-header-width);
    min-width: var(--min-header-width);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(30,30,30);
    max-width: var(--max-site-width);
    min-width: var(--min-site-width);
    padding: var(--header-padding);
    margin-top: var(--top-margin);
    
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(45,45,45);
    max-width: var(--max-site-width);
    min-width: var(--min-site-width);
    padding: var(--main-padding);
    justify-content: center;
}

.content-item {
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: rgb(60,60,60);
    max-width: var(--max-item-width);
    min-width: var(--min-item-width);
    border-top: 5px solid var(--border-color);
}

@keyframes example {
    
}

#you.content-item {
    border-top: 5px solid var(--youtube-bcolor);
}
#pat.content-item {
    border-top: 5px solid var(--patreon-bcolor);
}
#pay.content-item {
    border-top: 5px solid var(--paypal-bcolor);
}
#nda.content-item {
    border-top: 5px solid var(--nda-bcolor);
}

.content-gif {
    align-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: rgb(60,60,60);
    max-width: var(--max-item-width);
    min-width: var(--min-item-width);
    min-height: 360px;
}

#gif1.content-gif {
    background-image: url('assets/191111_falcon9.gif');
}
#gif2.content-gif {
    background-image: url('assets/191120_bulkhead.gif');
}

.progress_l {
    display: flex;
    justify-content: center;
    background-color: rgb(120,200,120);
    width:4%;
    height:5rem;
}

.progress_r {
    display: flex;
    justify-content: center;
    background-color: rgb(90,100,90);
    width:96%;
    height:5rem;
}

.progress_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

